<configuration>
<appender name="CompilerApp" class="ch.qos.logback.core.FileAppender">
    <Append>false</Append>
    <file>logs/compiler.log</file>
    <encoder>
        <pattern>%d [%t:%L] - %m%n</pattern>
    </encoder>
</appender>

<logger name="CompilerLogger" level="debug">
    <appender-ref ref="CompilerApp"/>
</logger>

<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<encoder>
    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
</encoder>
</appender>

<root level="debug">
    <appender-ref ref="STDOUT"/>
</root>

</configuration>
