#Ignore folders
/.idea
/.gradle
/build
*/build
*tmp/build
*/logs
/core/tmp/lib
tmp/*.jar
tmp/*.kt
tmp/*.js
core/java-agent/.gradle
core/java-agent/build
client
/JVMCompiler/tmp/build/
NativeCompiler/tmp/
/core/projectTmp/
